---
extends: default

rules:
  # Disable truthy checking for keys to allow GitHub Actions `on:` keyword.
  # The `on:` trigger syntax is valid in workflow files but yamllint flags it
  # as a YAML 1.1 truthy value. See: https://github.com/adrienverge/yamllint/issues/540
  truthy:
    check-keys: false
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: whatever
  line-length: disable
